<div class="flex flex-wrap justify-center p-10">
  <div
    class="flex py-10 m-1 w-screen lg:w-1/4 border rounded-lg items-center border-gray-300/60 justify-start px-10 hover:bg-gray-100 transition-colors cursor-pointer"
    *ngFor="let user of contactos"
    routerLink="/contact/{{ user.id.value }}"
  >
    <img class="rounded-full" src="{{ user.picture.medium }}" alt="" />
    <div class="pl-5">
      <div class="flex text-black/70 font-bold">
        <p class="pr-1">{{ user.name.first }}</p>
        <p class="">{{ user.name.last }}</p>
      </div>
      <p class="text-black/40 pt-1">{{ user.email }}</p>
    </div>
  </div>
</div>
